body{

}

.home #header{
    background-image: url('../image/Home/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    min-height: 585px;
}

.home #contacto{
    background-image: url('../image/Contacto/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    min-height: 585px;
}


.navbar-default {
background-color: #fff;
border:none;
}
.nav>li>a:hover, .nav>li>a:focus{
    border:none!important;
    background: none;
}
.nav>li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #2f3c46;
    font-weight: 700;
}

.nav li a{
    color:#2d3b46!important;
}

.top-menu{
    padding-top: 85px;
margin-bottom: -10px;
}
.top-menu a{
    font-size: 17px;
    color:#572c15!important;
    padding: 10px 12px!important;
}



@media only screen and (max-width : 320px) {
    .img{
        margin-right: 120px;
    }
}
