@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-f7qy7d');
    src:url('../fonts/icomoon.eot?#iefix-f7qy7d') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-f7qy7d') format('woff'),
        url('../fonts/icomoon.ttf?-f7qy7d') format('truetype'),
        url('../fonts/icomoon.svg?-f7qy7d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}

.icon-vineta-01:before {
    content: "\e601";
}

.icon-circle-left:before {
    content: "\e606";
}

.icon-circle-right:before {
    content: "\e607";
}

.icon-home:before {
    content: "\e604";
}

.icon-phone:before {
    content: "\e602";
}

.icon-bubbles:before {
    content: "\e600";
}

.icon-mail:before {
    content: "\e605";
}

.icon-mail{
    cursor: pointer;
}

.icon-twitter:before {
    content: "\e603";
}

.icon-twitter{
    cursor: pointer;
}

.icon-arrow-down:before {
    content: "\e608";
}

.icon-facebook:before {
    content: "\e609";
}

.icon-facebook{
    cursor: pointer;
}


.home #header{
    background-image: url('../image/Home/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}



.home #senderos{
    background-image: url('../image/senderos/banner-1.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #promociones{
    background-image: url('../image/promociones/baner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #quienes-somos{
    background-image: url('../image/quienes/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #master-plan{
    background-image: url('../image/masterplan/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #ubicacion{
    background-image: url('../image/ubicacion/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #contacto{
    background-image: url('../image/Contacto/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #blog{
    background-image: url('../image/blog/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #galeria-render{
    background-image: url('../image/galeria/Renders/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #galeria-fotos{
    background-image: url('../image/galeria/Renders/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}



.home #galeria-obra{
    background-image: url('../image/galeria/obra/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}

.home #financiamiento{
    background-image: url('../image/financiamiento/banner.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    /*min-height: 585px;*/
}


.navbar-default {   
border:none;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.open-sans{
    font-family: 'Open Sans';
}

.nav > li{
    font-weight: 700;
    color: white;
    font-size: 13px;
}
.navbar-default .navbar-toggle .icon-bar{background-color: white}
    


/* BEGIN: play controls iconmoons */


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/playcontrols/icomoon.eot?-q13gbu');
    src:url('../fonts/playcontrols/icomoon.eot?#iefix-q13gbu') format('embedded-opentype'),
        url('../fonts/playcontrols/icomoon.woff?-q13gbu') format('woff'),
        url('../fonts/playcontrols/icomoon.ttf?-q13gbu') format('truetype'),
        url('../fonts/playcontrols/icomoon.svg?-q13gbu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
    content: "\ea1c";
}

.icon-pause2:before {
    content: "\ea1d";
}

.icon-volume-medium:before {
    content: "\ea27";
}

.icon-volume-mute2:before {
    content: "\ea2a";
}

.ControlVideoBar{
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    text-align: center;
}

.videoWrapper .ControlVideoBar > span {
  cursor: pointer;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.videoWrapper .ControlVideoBar{
opacity: 0;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.videoWrapper:hover .ControlVideoBar{
    opacity: 1;
}



/* END: play controls iconmoons */



/* Video responsive with swfObject. */

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.videoWrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper object,
.videoWrapper embed,  {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}


.content-vide-sfwobject object, .content-vide-sfwobject embed, .content-vide-sfwobject iframe {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
}

/* END video responsive */

/* BEGIN  estilos FAC */

.px20{
    font-size: 20px;
}

.px13{
    font-size: 13px;
}

.px12{
    font-size: 12px;
}



.color1{
    color: white;
}

.color2{
    color:#acbe81;
}

.color3{
    color:#6facc4;
}

.color4{
    color:#9a9a9a;
}

.color5{
    color:#e77c74;
}

.color6{
    color: #71c6bc;
}

.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

.top-header-menu-nav{
    padding: 12px 0px;
}

#navbar .nav.navbar-nav{
    border-top: 1px solid white;
}
.background1{
    background: #6facc4;
}
.background2{
    background: #acbe81;
}
.background3{
    background: #71c6bc;
}
.background4{
    background: #e77c74;
}
.background5{
    background: #b0c5e1;
}
.background6{
    background: #9a9a9a;
}


.background7{
    background: #ffffff;
}

.background2{
    background: #6facc4;
}

.top-header-menu-nav [class^="icon-"],.top-header-menu-nav [class*=" icon-"]{
    margin-bottom: 3px;
}


.navbar-default{
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}



h1.title{
    font-size: 45px;
    font-weight: bold;
}

h2.title{
    font-size: 30px;
    font-weight: bold;
}

h3.title{
    font-size: 20px;
    font-weight: bold;
}

p.title-caption{
    margin: 20px auto 30px auto;
}
.mancha-texto{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans';   
}

.section-list{
    padding: 40px 0px;
    background: url('../image/General/textura-hoja.jpg');
    background-size: contain;
}



ul.list-mayakoba-style{
    list-style:none;
    padding-left: 20px;
}

ul.list-mayakoba-style li:before {
    content: "\e601";
    font-size: 8px;
    padding: 5px;
    margin: 6px 6px 0px -24px;
    font-family: "icomoon";
}

.share-content{
    margin-top: 10px;
}

.facebook-button{
    width: 314px;
    height: 59px;
    cursor: pointer;
}

.twitter-buttom{
    width: 314px;
    height: 59px;
    cursor: pointer;
}

.mail-share{
    width: 314px;
    height: 59px;
    cursor: pointer;
}

.thumnails-img{
    background: url('../image/General/textura-madera.jpg');
    padding: 40px 0px;
    background-size: contain;
}

.grid-gallery {
    margin-bottom: 25px;
    position: relative;
}

.grid-gallery .caption-img-grid{
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
}


.grid-gallery .caption-img-grid h3.title{
    margin: 0px;
    padding: 10px 0px;
}

.last-post-content, 
.section-list.financiamiento{
    padding: 40px 0px;
    background: url('../image/Home/bg-ultimas-noticias.jpg');
    background-size: cover;
}

.content-post{
    margin: 30px 0px;
}

.last-post{
    padding-bottom: 15px;
}

.no-padding{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}

.text-blog{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300px;
    color: #9a9a9a;
}

.read-more-btn{
    padding: 7px;
    text-align: center;
    width: 126px;
    margin-top: 18px;
    text-decoration: none;
    display: block;
}

.read-more-btn:hover{
    text-decoration: none;
}

.footer-background{
    background: url('../image/Footer/bg-yute.jpg');
    background-size: contain;
    padding: 40px 0px;
}


ul.footer-list-nav-menu{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.footer-list-nav-menu > li{
    display: inline-block;
    padding-right: 15px;
    position: relative;
}


ul.footer-list-nav-menu li a:hover{
    text-decoration: none;
}

.footer-super{
    border-bottom: 1px solid white;
    padding: 10px 0px;
    margin-bottom: 15px;
}


ul.submenu-footer-nav{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    width: 100px;
}

.submenu-footer-nav > li{
    display: block;
}

.newsletter-input {
  width: 230px;
  margin-right: -4px;
  height: 30px;
  border: none;
  padding: 0px 10px;
}

.submit-newsletter{
    border-radius: 0px;
    height: 30px;
    border:none;
    margin: 0px;
    vertical-align: bottom;
}

.copy-text{
    margin-top: 15px;
}

.main-logi{
    margin-top: 15px;
}

.vertical-aling{
    vertical-align: middle;
}

.click-able-youtube{
    cursor: pointer;
}
.senderos-mayakaba{
    margin-top: 13px;
}

.vertical-align-sub{
    vertical-align: sub;
}

.without-borders{
    border: none;
    border-radius: 0px;
}


.text-justify{
    text-align: justify;
}


#ytapiplayer{
    overflow: hidden;
}


.avance-obra-separator{
    border-top: 1px solid white;
}
/* END estilos FAC*/


/* BEGIN: Estilos de blog */

.form-group.blog-filter{
    padding-bottom: 10px;
}


.single-post-noticia, .section-master-plan{
    background: url('../image/General/bg-arena.jpg');
    background-size: contain;
}

.section-master-plan{
    background: url('../image/General/bg-arena.jpg');
    background-size: contain;
    padding: 30px 0px;
}

.thumnails-img.avanceobra{
    background: url('../image/General/bg-arena.jpg');
    background-size: contain;
}

.single-content-text{
    padding: 30px 0px; 
}

.social-media-content{
    padding: 30px 0px;
    border-top: 1px solid #9a9a9a;

}

.img-single-content{
    margin-top: 15px;
}

.img-single-content > img{
    width: 100%;
}

/* END: Estilos de blog */

h3.title.amenidades{
    font-size: 14px;
}

.amenidades-galeria > div.col-md-3{
    padding-left: 10px;
    padding-right: 10px;
}

.amenidades-galeria-grid{
    margin-top: 30px;
    margin-bottom: 30px;
}

.view_360{
    margin: 30px 0px;
    position: relative;
}

.view_360 .read-more-btn{
    position: absolute;
    z-index: 100;
    top: 0px;
}

.view_360 .read-more-btn{
    height: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 100;

}

hr.separator-eco-chic{
    background:white;
}


.section-list.section-ubicacion{
    background: url('../image/ubicacion/bg-hoja.jpg');
    background-size: cover;
}

.section-list.ciudad-mayakoba{
    background: url('../image/ubicacion/bg-cenote.jpg');
    background-size: cover;
}

.title-mancha-text{
    font-size: 18px;
}

.especificaciones-master-plan{
    padding: 0px 30px;
}

.especificaciones-master-plan p.space{
    margin-top: 30px;
}

.bold.mancha-texto.color4.space{
    font-weight: 600;
}

ol.number-list-mayakobastyle {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
ol.number-list-mayakobastyle li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}

ol.number-list-mayakobastyle li:before {
  display: inline-block;
  content: counter(item) " ";
  counter-increment: item;
  width: 1.4em;
  margin-left: -2em;
  padding: 0em;
  color: white;
  border-radius: 25px;
  text-align: center;
  margin-right: 13px;
}

ol.number-list-mayakobastyle li.blue:before {
  background: #6facc4;    
}

ol.number-list-mayakobastyle li.red:before {
  background: #e77c74;    
}

.separator-eco-chic.especifications{
    color: #9a9a9a;
    background: #9a9a9a;
    height: 1px;
}

.master-plan-disponiblidad{
    background: url('../image/General/bg-palma.jpg');
    background-size: cover;
}

.content-disponiblidad{
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.8);
    margin: 10px 10px 30px 10px;
}

.color-status{
    height: 50px;
    width: 100%;
    border: 1px;
    background: #9a9a9a;
}

.content-status-div{
    padding: 40px;
}

.disponiblidad-tabla-status{
    margin-top: 30px;
}


.content-text-status-div{
    position: relative;
}

.content-text-status-div > p{
    position: absolute;
    margin:0px;
}

.status-text{
    margin-top: 15px;
}

.dispon-row{
    margin: 10px 0px;
}

.form-financiamiento{
    margin: 40px 0px;
}

.form-financiamiento .form-group label{
    color:#9a9a9a;
    font-family: 'Open Sans';
    font-weight: 300;
}

.form-financiamiento .form-group input{
    color:#9a9a9a;
    font-family: 'Open Sans';
    font-weight: 300;
    border: 1px solid #9a9a9a; 
    border-radius: 0px;
}


.form-financiamiento .form-group textarea{
    color:#9a9a9a;
    font-family: 'Open Sans';
    font-weight: 300;
    border: 1px solid #9a9a9a; 
    border-radius: 0px;
    width: 100%;
    height: 100px;
}

.form-horizontal.form-financiamiento .form-group {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
}

.form-horizontal.form-financiamiento .btn-enviar{
    margin: 0px;
}

.content-promo-img{
    padding: 40px;
}

.content-promo-text{
    padding: 40px;
}

.aqua-background-row{
    background: url('../image/ubicacion/bg-cenote.jpg');
    padding: 40px 0px;
    background-size: cover;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: none;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}



[data-toggle="modal"]{
    cursor: pointer;
}



#membrecias .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#membrecias .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#membrecias .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#membrecias .modal-body {
  position: relative;
  padding: 0px;
}


#membrecias .modal-dialog {
  width: 630px;
  margin: 30px auto;
}

#membrecias .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#membrecias .list-mayakoba-style.mancha-texto.color4{
    height: 126px;
    overflow: scroll;
}


#membrecias .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}

/* Cenotes */
#cenotes .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#cenotes .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#cenotes .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#cenotes .modal-body {
  position: relative;
  padding: 0px;
}


#cenotes .modal-dialog {
  width: 630px;
  margin: 30px auto;
}

#cenotes .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#cenotes .list-mayakoba-style.mancha-texto.color4{
    height: 180px;
    overflow-y: auto;
}


#cenotes .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}

/*  senderos */
#senderosslide .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#senderosslide .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#senderosslide .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#senderosslide .modal-body {
  position: relative;
  padding: 0px;
}


#senderosslide .modal-dialog {
  width: 630px;
  margin: 30px auto;
}

#senderosslide .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#senderosslide .list-mayakoba-style.mancha-texto.color4{
    height: 126px;
    overflow: scroll;
}


#senderosslide .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}

/* parques */
#parques .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#parques .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#parques .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#parques .modal-body {
  position: relative;
  padding: 0px;
}


#parques .modal-dialog {
  width: 630px;
  margin: 30px auto;
}



#parques .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#parques .list-mayakoba-style.mancha-texto.color4{
    height: 126px;
    overflow: scroll;
}


#parques .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}


/* casa */
#casa .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#casa .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#casa .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#casa .modal-body {
  position: relative;
  padding: 0px;
}


#casa .modal-dialog {
  width: 630px;
  margin: 30px auto;
}

#casa .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#casa .list-mayakoba-style.mancha-texto.color4{
    height: 126px;
    overflow: scroll;
}


#casa .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}


/* pista */
#pista .modal-header {
   padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 0px;
}


#pista .modal-content{
    border: 10px solid #71c6bc;
    border-radius: 0px;
}

#pista .close{
  position: absolute;
  right: -9px;
  top: -8px;
  /* color: white; */
  background: #71c6bc;
  opacity: 1;
  padding: 5px;
  color: white;
  z-index: 100;
}

#pista .modal-body {
  position: relative;
  padding: 0px;
}


#pista .modal-dialog {
  width: 630px;
  margin: 30px auto;
}

#pista .modal-texto{
    padding-right: 35px;
    padding-top: 30px;
}

#pista .list-mayakoba-style.mancha-texto.color4{
    height: 126px;
    overflow: scroll;
}


#pista .row.share-content .col-md-4.no-padding{
    padding: 2px;
}
.mancha-texto-popup{
    font-size: 14px;
}


/* Menú navbar */
.navbar-left {
  float: right!important;
}

.nav > li > a {
  padding: 10px 8px;
}

.dropdown-menu > li > a {
  padding: 3px 8px;
}

.nav > li > a:hover,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background: #71c6bc;
}

ul.dropdown-menu {
  background: rgba(255, 255, 255, 0.46);
  color: white;
}
.dropdown-menu>li>a{
    color: white;
}

.dropdown-menu>li>a:hover{
    background: #71c6bc;
    color: white;
}

.padding-medium{
    padding: 25px;
}

.img-single-post-custom{
    padding-left: 0;
}


.no-margin{
    margin: 0px;
}

      @media (max-width: 767px) {
        .footer-background{background-size: cover;} 
          body>header.container{  min-height: 200px;}
          #navbar{background-color:rgba(0,0,0,0.9);}
          #navbar .nav.navbar-nav{border-top: none;}

        .share-content.social-media-content img{
          margin-bottom: 5px;
          margin-left: auto;
          margin-right: auto;   
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        body>header.container{  min-height: 450px;}
      }


      @media (min-width: 992px) and (max-width: 1199px) {
        body>header.container{  min-height: 500px;}
      }
        

      @media (min-width: 1200px) {
          body>header.container{  min-height: 585px;}
      }

/* Menú navbar */