.section-list-contacto{
	padding: 40px 0px;
	background-image: url('../image/Contacto/bg-cenote.jpg');
}

.form-group{
	padding-bottom: 40px;
}

.form-group label{
	float: :right!important;
	margin-top: 7px;
	color: #fff;
}

#mapa{
	min-height: 500px;
}

.btn-enviar{
	padding: 5px 15px;
	border: none;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

.btn-enviar{color: #fff;}

.btn-enviar:hover{
	background-color: #b0c5e1;
}

.contacto-derecha{
	border-right: 1px solid #fff
}

.italic{
	font-style: italic;
}

.open-sans-important{
    font-family: 'Open Sans'!important;
}

.weight-100{
	font-weight: 100;
}