{% extends "base.html.twig" %}
{% block headerclass %}  <header id="galeria-fotos" class="container">{% endblock %}
{% block title %}Galeria Renders{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Fotografías</h1>
				<p class = "title-caption text-center mancha-texto color4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, mollitia expedita debitis, quisquam perspiciatis rerum ducimus dignissimos! Doloremque cum voluptatibus voluptates autem perspiciatis aliquam, vitae, quisquam accusamus at, iure minima.
				</p>
			</div>
		</div>   
	</section>
</div>
<div class = "row thumnails-img">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-Brokers/grandes/1.jpg" title="Evento Brokers"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-Brokers/1.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-Brokers/grandes/2.jpg" title="Evento Brokers"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-Brokers/2.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-Brokers/grandes/3.jpg" title="Evento Brokers"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-Brokers/3.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-Brokers/grandes/4.jpg" title="Evento Brokers"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-Brokers/4.jpg" alt=""></a>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-Brokers/grandes/5.jpg" title="Evento Brokers"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-Brokers/5.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-PGA/grandes/1.jpg" title="Evento PGA"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-PGA/1.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-PGA/grandes/2.jpg" title="Evento PGA"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-PGA/2.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-PGA/grandes/3.jpg" title="Evento PGA"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-PGA/3.jpg" alt=""></a>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-PGA/grandes/4.jpg" title="Evento PGA"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-PGA/4.jpg" alt=""></a>
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<a class="fancy-galeria" rel="group" href="./web/image/galeria/Fotos/Evento-PGA/grandes/5.jpg" title="Evento PGA"><img class = "img-responsive" src="./web/image/galeria/Fotos/Evento-PGA/5.jpg" alt=""></a>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}

	