{% extends "base.html.twig" %}
{% block headerclass %}  <header id="galeria-fotos" class="container">{% endblock %}
{% block title %}Galeria Renders{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Fotografías</h1>
				<p class = "title-caption text-center mancha-texto color4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, mollitia expedita debitis, quisquam perspiciatis rerum ducimus dignissimos! Doloremque cum voluptatibus voluptates autem perspiciatis aliquam, vitae, quisquam accusamus at, iure minima.
				</p>
			</div>
		</div>   
	</section>
</div>
<div class = "row thumnails-img">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/1.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/2.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/3.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/4.jpg" alt="">
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/5.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/6.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/7.jpg" alt="">
				</div>
			</div>
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/8.jpg" alt="">
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-3">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="./web/image/galeria/Renders/9.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}

	