{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Bienvenidos a Senderos de Mayakoba.</h1>
				<p class = "title-caption text-center mancha-texto color4">
					En el corazón de la Rivera Maya innovador y confortable Residencial donde podrás donde edificar la casa de tus sueños.
				</p>
			</div>
		</div>   
	</section>
</div>
<div class = "row section-list">
	<section class ="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-6">
				<div class = "row">
					<div class = "col-md-12">
						<ul class = "list-mayakoba-style mancha-texto color1">
							<li class = "color1 text-justify">Senderos de Mayakoba es un residencial fundamentado sobre cuatro pilares:<br></li>
							<li class = "color1 text-justify">El concepto de Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente.</li>
							<li class = "color1 text-justify">Senderos de Mayakoba ofrece predios unifamiliares con una área promedio de 300m2 cada uno</li>
							<li class = "color1 text-justify">Es un proyecto enmarcado por hermosas áreas naturales y dos cenotes, así como bellos senderos que lo ubican en el más alto nivel de calidad inmobiliaria.</li>
							<li class = "color1 text-justify">Senderos de Mayakoba esta desarrollado en una superficie de aproximadamente 27 has.</li>
						</ul>		
					</div>
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>
			</div>
			<div class = "col-md-6 content-vide-sfwobject">
					<div  class = "videoWrapper" class = "display-desk">
				    	<div id = "ytapiplayer">
							<iframe  class = "mobil-iframe hidden" width="560" height="315" src="https://www.youtube.com/embed/h3wF63c36uc?rel=0" frameborder="0" allowfullscreen>
							</iframe>
							<img class = "img-responsive click-able-youtube" data-youtube = "" src="./web/image/Home/img-video.jpg" alt=""/>
						</div>
						<div class="ControlVideoBar">
							<span data-action="pause" class="icon-pause2 hidden pause_video color1" onclick="pausethevideo();"></span>
							<span data-action="play" class="icon-play3 play_video color1" onclick="playthevideo();"></span>
							<span data-action="mute" class="icon-volume-mute2 hidden mute_video color1" onclick="mutethevideo();"></span>
							<span data-action="unmute" class="icon-volume-medium unmute_video color1" onclick="unmutethevideo();"></span>
						</div>
					</div>
			</div>
		</div>
	</section>
</div>
<div class = "row thumnails-img">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background1"><h3 class = "title color1 italic open-sans text-center">Concepto y amenidades <span class="icon-circle-right vertical-aling"></span></h3></div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background4"><h3 class = "title color1 italic open-sans text-center">Lorem Ipsum</h3></div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background3"><h3 class = "title color1 italic open-sans text-center">Lorem Ipsum</h3></div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background1"><h3 class = "title color1 italic open-sans text-center">Lorem Ipsum</h3></div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background2"><h3 class = "title color1 italic open-sans text-center">Lorem Ipsum</h3></div>
				</div>
			</div>
			<div class = "col-md-4">
				<div class = "grid-gallery">
					<img class = "img-responsive" src="http://placehold.it/400x300&text=Thumnail" alt="">
					<div class = "caption-img-grid background5"><h3 class = "title color1 italic open-sans text-center">Lorem Ipsum</h3></div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class = "row last-post-content">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-12">
				<h2 class = "title color1 montserrat bold text-center">Últimas noticias</h2>					
			</div>
		</div>	
		<div class = "row content-post">
			<div class = "col-md-6">
					<div class = "col-md-12">
						<div class = "row background7">
							<div class = "col-xs-5 no-padding">
								<img class = "img-responsive" src="http://placehold.it/230x300&text=Post" alt="">
							</div>
							<div class = "col-xs-7 background7">
								<div class = "last-post">
									<h3 class = "title open-sans italic color3">Echo-Chic home office</h3>
									<p class = "text-blog">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero, delectus vel, accusantium, impedit cumque...
									</p>
									<a href = "#" class = "read-more-btn montserrat px16 background1 color1">
										LEER MÁS
									</a>	
								</div>
								
							</div>	
						</div>
				</div>
			</div>
			<div class = "col-md-6">		
					<div class = "col-md-12">
						<div class = "row background7">
							<div class = "col-xs-5 no-padding">
								<img class = "img-responsive" src="http://placehold.it/230x300&text=Post" alt="">
							</div>
							<div class = "col-xs-7 background7">
								<div class = "last-post">
									<h3 class = "title open-sans italic color3">Echo-Chic home office</h3>
									<p class = "text-blog">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero, delectus vel, accusantium, impedit cumque...
									</p>
									<a href = "#" class = "read-more-btn montserrat px16 background5 color1">
										LEER MÁS
									</a>	
								</div>
								
							</div>	
						</div>
					</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}