{% extends "base.html.twig" %}
{% block headerclass %}  <header id="master-plan" class="container">{% endblock %}
{% block title %}Master Plan{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Master Plan</h1>
				<p class = "title-caption text-center mancha-texto color4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ex voluptas maiores esse illum deleniti, quos, accusamus, consequuntur repudiandae assumenda ut itaque temporibus voluptate nobis tempore. Magnam dolorem, soluta pariatur?
				</p>
			</div>
		</div>   
	</section>
</div>

<div class  = "row section-master-plan">
	<div class = "col-md-10 col-md-offset-1">
		<div class = "col-md-6">
			<img class = "img-responsive" src="./web/image/masterplan/master-plan.jpg" alt="">			
		</div>
		<div class = "col-md-6">
			<div class = "row especificaciones-master-plan">
				<div class = "row">
					<div class = "col-md-12">
						<p class = "open-sans title-mancha-text bold color4 text-center">
							¡Navega a través del Plan Maestro y conoce un poco más sobre Senderos de Mayakoba!
						</p>
						<p class = "bold mancha-texto color4 space">
							Senderos Mayakoba
						</p>
						<p>
							<ol class = "number-list-mayakobastyle">
								<li class = "color4 text-justify blue mancha-texto">Acceso por Paseos los Parques</li>
								<li class = "color4 text-justify blue mancha-texto">Acceso por Boulevard Parque México</li>
								<li class = "color4 text-justify blue mancha-texto">Parque senderos de cenotes</li>
								<li class = "color4 text-justify blue mancha-texto">Senderos del sol</li>
								<li class = "color4 text-justify blue mancha-texto">Casa club</li>
								<li class = "color4 text-justify blue mancha-texto">Parque para niños</li>
								<li class = "color4 text-justify blue mancha-texto">Área comercial</li>
							</ol>
						</p>
						<p class = " bold mancha-texto color4 space">
							Ciudad Mayajoba
						</p>
						<p>
							<ol class = "number-list-mayakobastyle">
								<li class = "color4 text-justify red mancha-texto">Parque central</li>
								<li class = "color4 text-justify red mancha-texto">Mayakoba Country Club</li>
								<li class = "color4 text-justify red mancha-texto">The Village</li>
							</ol>
						</p>
						<p class = "color4 text-justify  mancha-texto space">
							El diseño urbano de la lotificación se solucionó de la manera óptima, aprovechando los vientos dominantes y protegiendo las viviendas del asoleamiento.<br>
							El punto de encuentro será el Parque Sendero de los Cenotes (tres hectáreas en total) donde se ubican el Cenote Mágico, decks de lectura, meditación, asoleaderos y frente a este parque la Casa Club como punto de reunión de la comunidad.
						</p>
					</div>
				</div>
				<div class = "row">
					<hr class = "separator-eco-chic especifications">
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>


<div class = "row master-plan-disponiblidad">
	<div class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-12">
				<h2 class = "title color1 montserrat bold text-center">Disponibilidad</h2>
			</div>
		</div>
		<div class = "row content-disponiblidad">
			<div class = "col-md-6">
				<img class = "img-responsive" src="./web/image/masterplan/mapa-disponibilidad.jpg" alt="">
			</div>
			<div class = "col-md-6 content-status-div">
				<div class = "row">
					<div class = "col-md-12">
						<p class = "open-sans title-mancha-text bold color4 text-center">
							¡Navega a través del plano del plano de Mayakoba y conoce un poco más sobre los terrenos!
						</p>	
					</div>
				</div>
				<div class = "row disponiblidad-tabla-status">
					<div class ="col-sm-6">
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
					</div>
					<div class = "col-md-6">
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
						<div class = "row dispon-row">
							<div class = "col-md-6">
								<div class = "color-status"></div>
							</div>
							<div class = "col-md-6">
								Disponible
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<hr class = "separator-eco-chic especifications">
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}	