{% extends "base.html.twig" %}
{% block headerclass %}  <header id="promociones" class="container">{% endblock %}

{% block title %}Promociones{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Promociones</h1>
				<p class = "title-caption text-justify mancha-texto color4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur vel nisi laudantium libero, nostrum deserunt quisquam illum officiis reprehenderit! Voluptatum dignissimos possimus, dolore vero! Corporis, nisi nemo accusantium veniam libero!
				</p>
			</div>
		</div>   
	</section>
</div>
<div class = "row thumnails-img">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row promo-grid">
			<div class = "col-md-6 content-promo-img">
				<img class = "img-responsive" src="./web/image/ubicacion/ciudad-mayakoba.jpg" alt="Promocion">	
			</div>
			<div class = "col-md-6 content-promo-text">
				<div class = "row">
					<div class = "col-md-12">
						<h3 class = "title color5 italic">Promoción 1</h3>
						<ul class="list-mayakoba-style mancha-texto color4">
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
						</ul>	
					</div>
				</div>
				<div class = "row">
					<hr class = "separator-eco-chic especifications">
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class = "row promo-grid">
			<div class = "col-md-6 content-promo-img">
				<img class = "img-responsive" src="./web/image/ubicacion/ciudad-mayakoba.jpg" alt="Promocion">	
			</div>
			<div class = "col-md-6 content-promo-text">
				<div class = "row">
					<div class = "col-md-12">
						<h3 class = "title color5 italic">Promoción 2</h3>
						<ul class="list-mayakoba-style mancha-texto color4">
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
						</ul>	
					</div>
				</div>
				<div class = "row">
					<hr class = "separator-eco-chic especifications">
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>
			</div>
		</div>
		<div class = "row promo-grid">
			<div class = "col-md-6 content-promo-img">
				<img class = "img-responsive" src="./web/image/ubicacion/ciudad-mayakoba.jpg" alt="Promocion">	
			</div>
			<div class = "col-md-6 content-promo-text">
				<div class = "row">
					<div class = "col-md-12">
						<h3 class = "title color5 italic">Promoción 3</h3>
						<ul class="list-mayakoba-style mancha-texto color4">
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
							<li class="color4 text-justify">lorem ipsum dolor sit amet, consecteur adipicing edit.</li>
						</ul>	
					</div>
				</div>
				<div class = "row">
					<hr class = "separator-eco-chic especifications">
				</div>
				<div class = "row share-content">
					<div class = "col-md-4">
						<span class = "facebook-button share-btn" data-service = "facebook" data-url="http://162.243.121.61/mayakoba/senderos-mayakoba/" data-image="" data-title="Senderos de Mayakoba"><img src="./web/image/General/boton-facebook.jpg" class = "img-responsive" alt="Facebook"></span>
					</div>
					<div class = "col-md-4">
						<span class = "twitter-buttom share-btn-2" data-service = "twitter" data-image = "" data-url = ""><img src="./web/image/General/boton-twitter.jpg" class = "img-responsive" alt="Twitter"></span>
					</div>
					<div class = "col-md-4">
						<span class = "mail-share"><a href="mailto:?subject=SENDEROS DE MAYAKOBA&amp;body=Senderos Mayakoba es una encantadora expresión del estilo de vida Eco-Chic, es un proyecto distinguido y comprometido con el medio ambiente" title="Share by Email"><img src="./web/image/General/boton-correo.jpg" class = "img-responsive" alt="mail"></a></span>
					</div>
				</div>
			</div>
		</div>		
	</section>
</div>

{% endblock %}

	