{% extends "base.html.twig" %}
{% block headerclass %}  <header id="quienes-somos" class="container">{% endblock %}

{% block title %}Quiénes Somos{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Quiénes somos</h1>
				<p class = "title-caption text-justify mancha-texto color4">
					Senderos de Mayakoba es un desarrollo por Novaterra Caribe S.A.P.I. de C.V., que surge de la asociación de dos empresas líderes en sus respectivos campos.
				</p>
			</div>
		</div>   
	</section>
</div>



<div class = "row aqua-background-row">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-12">
				<h2 class = "title color1 montserrat bold text-left">1. OHL Desarrollos</h2>					
			</div>						
		</div>
		<div class = "row mancha-texto color1 text-justify">
			<div class ="col-md-6">
				<p class ="mancha-texto color1">
					OHL Desarrollos, creador del Resort Mayakoba, que hoy es un referente ejemplo de desarrollo sostenible y calidad turística; creador del proyecto urbano Ciudad Mayakoba, la nueva ampliación de la ciudad de Playa del Carmen y en donde se requiere el desarrollo inmobiliario por parte de empresas que reúnen calidad y expericencia <a href="http://www.ohldesarrollos.com/">http://www.ohldesarrollos.com</a>
				</p>
				<p class = "mancha-texto colo1r">
					El equipo de OHL Desarrollos liderados por Don Andrés Pan de Soraluce, Don Agustín Sarasola, y Don Mikel Artaza, aportan su consejo y coordinación en Novaterra Cariba S.A.P.I. de C.V. desarroladora  de Senderos de Mayakoba.	
				</p>
			</div>
			<div class = "col-md-6 mancha-texto color1 text-justify">
				<img class = "img-responsive" src="./web/image/quienes/imagen-mayakoba.jpg" alt="Mayakoba">
			</div>
		</div>
	</section>
</div>


<div class = "row img-banner-eco-parque">
	<div class = "col-md-12 no-padding">
		<img class = "img-responsive" src="./web/image/quienes/imagen-golf.jpg" alt="">
	</div>
</div>
<div class = "row last-post-content">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-12">
				<h2 class = "title color1 montserrat bold text-left">2. CaribeUrbana</h2>					
			</div>						
		</div>
		<div class = "row mancha-texto color1 text-justify">
			<div class ="col-md-6">
				<p class ="mancha-texto color1">
					El desarrollo inmobiliario residencial ha tenido una enorme demanda en el estado de Quintana Roo y uno de los equipos que han aportado innovadores conceptos, excelentes diseños y planes de negocio, es el que forman CP Edgar Villajuana (Director General Novaterra Caribe S.A.P.I. de C.V.) y Arq. Ricardo Alvarado (Director de proyectos).
				</p>
				<p class = "mancha-texto colo1r">
					Apartir del 2001 y hasta el 2006 colaboran con FONATUR en el desarrollo y comercialización de más de 650 has de la cuidad y zona turística de Cancún.	
				</p>
			</div>
			<div class = "col-md-6 mancha-texto color1 text-justify">
				<p class = "mancha-texto color1">
					En el 2007 inicia con otro grupo de desarrollo de diversos proyectos inmobiliarios, realizando el plan de negocio, el diseño urbano, la coordinación y contratación de la urbanización de los Fraccionamientos, la dirección de los planes de marketing y la pauta de publicidad, así como su comercialización final.
				</p>
				<p class  = "mancha-texto color1">
					Llevaron a cabo 4 desarrollos en Cancún y uno en Chetumal, urbanizado cerca de 200 has y comercializando 2500 lotes entre unifamiliares, comerciales y departamentales.
				</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}

	