{% extends "base.html.twig" %}
{% block headerclass %}  <header id="ubicacion" class="container">{% endblock %}
{% block title %}Ubicación{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
	<section class="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1 class = "title montserrat color3">Ubicación</h1>
				<p class = "title-caption text-center mancha-texto color4">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ex voluptas maiores esse illum deleniti, quos, accusamus, consequuntur repudiandae assumenda ut itaque temporibus voluptate nobis tempore. Magnam dolorem, soluta pariatur?
				</p>
			</div>
		</div>   
	</section>
</div>
<div class = "row section-list section-ubicacion">
	<section class ="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-7">
				<div class = "row">
					<div class = "col-md-12">
						<h4 class = "titile color1 monserrat bold italic">Riviera Maya</h4>
						<ul class = "list-mayakoba-style mancha-texto color1">
							<li class = "color1 text-justify">La Riviera Maya se localiza en una zona de gran valor ambiental combinando el desarrollo turístico y urbano; inicia en Puerto Morelos y termina en Tulum y la Reserva de la Biósfera de Sian Ka'an.<br></li>
							<li class = "color1 text-justify">Este corredor turístico es uno de los mejores destinos a nivel mundial y aloja la más interesante oferta hotelera, parques, comercio y servicios.<br></li>
							<li class = "color1 text-justify">El corazón de la Riviera Maya es Playa del Carmen, la ciudad más amigable y relajada de Quintana Room, cuenta con todos los servicios necesarios para llevar a cabo tu hogar, disfrutar de las ventajas de un destino turístico y al mismo tiempo lograr una excelente calidad de vida.<br></li>
						</ul>
						<p class = "mancha-texto color1">
							Conoce más sobre la Riviera Maya en:<br>
							<a href="http://www.rivieramaya.com/es">www.rivieramaya.com</a>
						</p>		
					</div>
				</div>
			</div>
			<div class = "col-md-5">
					<img class = "img-responsive" src="./web/image/ubicacion/riviera-maya.jpg" alt="">
			</div>
		</div>
	</section>
</div>
<div class = "row thumnails-img">
	<section class = "col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-5">
				<img class = "img-responsive" src="./web/image/ubicacion/mayakoba.jpg" alt=""/>
			</div>
			<div class = "col-md-7">
				<h4 class = "titile color3 monserrat bold italic">MayaKoba</h4>
				<ul class = "list-mayakoba-style mancha-texto color4">
					<li class = "color4 text-justify">Inició como una visión para definir un destino "único" en la Riviera Maya.</li>
					<li class = "color4 text-justify">Un talentoso equipo de biólogos, arquitectos y diseñadores coordinados por OHL, persistió en la protección de la flora y fauna logrando el mejor desarrollo turístico de México.</li>
					<li class = "color4 text-justify">Este espectacular desarrollo ubicado en Playa del Carmen, incluye tres hoteles de clase mundial rodeados por lagunas y canales, así como el prestigiado campo de golf El Camaleón único en México con certificación de PGA Tour.</li>
				</ul>
				<p class = "mancha-texto color4">
					Conoce más sobre Mayakoba en:<br>
					<a href="http://mayakoba.com/">www.mayakoba.com</a>
				</p>
			</div>
		</div>
	</section>
</div>
<div class = "row section-list ciudad-mayakoba">
	<section class ="col-md-10 col-md-offset-1">
		<div class = "row">
			<div class = "col-md-7">
				<div class = "row">
					<div class = "col-md-12">
						<h4 class = "titile color1 monserrat bold italic">Ciudad Mayakoba</h4>
						<p class = "list-mayakoba-style mancha-texto color1">
							Respondiendo al acelerado crecimiento y demanda de la población que se ha dado en la Riviera Maya en los últimos 10 años, se diseña Ciudad Mayakoba la primera comunidad integralmente planeada en Playa del Carmen.
						</p>
						<p class = "mancha-texto color1">
							Conoce más sobre la Ciudad Mayakoba en:<br>
							<a href="http://ciudadmayakoba.com/">www.ciudadmayakoba.com</a>
						</p>		
					</div>
				</div>
			</div>
			<div class = "col-md-5">
					<img class = "img-responsive" src="./web/image/ubicacion/riviera-maya.jpg" alt="">
			</div>
		</div>
	</section>
</div>
{% endblock %}	